main {
  display: flex;
  background: url("./../../../assets/image/background.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-clip: border-box;
  position: relative;
  min-height: 530px;
  
  section {
    width: 550px;

    &:first-child {
      z-index: 3;
    }

    .card-history {
      padding: 0 0 0 15px;

      &:first-child {
        background-image: linear-gradient(to right, transparent 0% 10%, var(--light) 5% 100%);
      }

      h1 {
        font-family: var(--font-heading);
        color: var(--primary-dark);
        font-size: 1.5em;
        padding-top: 5px;
        letter-spacing: 2px;
        text-align: center;
        padding: 5px 0 0 40px;
      }
      
      .text {
        font-size: .8em;
        color: var(--dark);
        padding-bottom: 10px;
      }

      div .card-information {
        display: inline-flex;

        .rick-morty-card {
          width: 250px;
        }
        
        > div {
          width: 280px;
          height: 150px;
          font-weight: bold;

          h2 {
            text-align: center;
            font-size: 1.3em;
            margin: 0;
            color: var(--terciary);
          }
        }
        
        dl {
          margin: 10px;

          dt {
            display: inline-block;
            color: var(--gray);
          }

          dd {
            display: inline;
            margin: 0;
            color: var(--terciary);
          }
        }
      }
    }

    .sub-title {
      width: 495px;
      min-height: 110px;
      margin: 0;
      list-style: none;
      height: auto;
      display: inline-flex;

      li {
        text-align: center;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px 0 0 0;

        .item-main {
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
          user-select: none;
          cursor: pointer;
        }
      
        .logo-main {
          width: 50px;
          height: 50px;
          border-radius: 8px;
          padding: 5px;

          &:hover {
            width: 60px;
            height: 60px;
            border-radius: 0;
          }
        }
      }
    }

    .background-main-img{
      img {
        position: absolute;
        bottom: 0;
        right: 0;
        width: 650px;
        z-index: -1;
      }
    }    
  }
}

@media only screen and (max-width: 576px) {
  main {
    height: 810px;
    justify-content: center;
    align-items: center;

    section {
      width: 380px;

      &:last-child {
        display: none;
      }

      .card-history {
        padding: 0;

        &:first-child {
          background: var(--light);
        }

        h1 {
          padding: 5px 0 0 0;
        }

        div {
          .card-information {
            flex-direction: column;
            text-align: center;
            width: 100%;
            align-items: center;    
          }
          .sub-title {
            background: var(--primary);
            width: 340px;
            margin-bottom: 10px;
            padding: 0 20px;
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 577px) {
  main {
    height: 810px;
    justify-content: center;
    align-items: center;

    section {
      width: 460px;

      &:last-child {
        display: none;
      }

      .card-history {
        padding: 0;

        &:first-child {
          background: var(--light);
        }

        h1 {
          padding: 5px 0 0 0;
        }

        div {
          .card-information {
            flex-direction: column;
            text-align: center;
            width: 100%;
            align-items: center;    
          }
          .sub-title {
            background: var(--primary);
            width: 420px;
            margin-bottom: 10px;
            padding: 0 20px;
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 768px) {
  main {
    height: 810px;
    justify-content: center;
    align-items: center;

    section {
      width: 460px;

      &:last-child {
        display: none;
      }

      .card-history {
        padding: 0;

        &:first-child {
          background: var(--light);
        }

        h1 {
          padding: 5px 0 0 0;
        }

        div {
          .card-information {
            flex-direction: column;
            text-align: center;
            width: 100%;
            align-items: center;    
          }
          .sub-title {
            background: var(--primary);
            width: 420px;
            margin-bottom: 10px;
            padding: 0 20px;
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 992px) {
  main {
    height: 810px;
    justify-content: flex-start;
    align-items: center;

    section {
      width: 550px;

      &:last-child {
        display: block;
        z-index: 2;
      }

      .card-history {
        padding: 0 0 0 15px;

        &:first-child {
          background: transparent;
          background-image: linear-gradient(to right, transparent 0% 10%, var(--light) 5% 100%);
        }

        h1 {
          padding: 5px 0 0 40px;
        }

        div {
          .card-information {
            flex-direction: row;
            text-align: start;
            width: 100%;
            align-items: stretch;    
          }
          .sub-title {
            background: transparent;
            background-image: linear-gradient(to right, transparent 0% 7.4%, var(--primary) 5% 100%);
            width: 485px;
            margin: 0;
            padding: 0 10px 0 40px;
          }
        }
      }
    }
  }
}