body {
  height: 100vh;
  background-repeat: no-repeat;

  > div {
    box-shadow: -4px -3px 89px 10px rgba(0,0,0,0.3);
    border-radius: 10px;
  }
}

.background {
  background: var(--primary);
  background: linear-gradient(45deg, var(--primary) 0%, var(--terciary) 66%, var(--terciary) 100%);
}

.background-main {
  background-image: linear-gradient(to right, transparent 0% 7.4%, var(--primary) 5% 100%);
}

.item {
  list-style: none;
}

.item a {
  color: var(--light);
  text-decoration: none;
}

.padding-main {
  padding: 0 0 0 45px;
}

p {
  margin: 0;
}

.text {
  font-family: var(--font-text);
  font-size: .8em; 
  line-height: 1.5em;
}

@media only screen and (max-width: 576px) {
  body {
    padding: 30px 15px;
  }

  .padding-main {
    padding: 0 10px 0 10px;
    text-align: justify;
  }
}

@media only screen and (min-width: 577px) {
  body {
    padding: 30px 15px;
  }

  .padding-main {
    padding: 0 10px 0 15px;
    text-align: justify;
  }
}

@media only screen and (min-width: 768px) {
  body {
    padding: 30px 15px;
  }

  .padding-main {
    padding: 0 10px 0 15px;
    text-align: justify;
  }
}

@media only screen and (min-width: 992px) {
  body {
    padding: 30px 60px;
    overflow: hidden;
  }

  .padding-main {
    padding: 0 0 0 45px;
    text-align: start;
  }
}

@media only screen and (min-width: 1200px) {
  body {
    padding: 30px 120px 30px 120px;
    overflow: hidden;
  }

  .padding-main {
    padding: 0 0 0 45px;
    text-align: start;
  }
}