header {
  background-color: var(--primary);
  border-radius: 10px 10px 0 0;

  nav {
    display: flex;
    justify-content: center;
    height: 52px;

    ul {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      padding: 0 40px 0 40px;
      
      .logo { 
        width: 32px;
        border-radius: 50%;
      }

      .text {
        font-size: 1em;
      }
    }
  }
}