body {
  padding: 120px 100px 120px 100px;
}

header {
  background-color: var(--primary);
}

nav {
  display: flex;
  justify-content: center;
}

ul {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0 40px 0 40px;
}

.item {
  list-style: none;
}

.item a {
  color: var(--light);
  text-decoration: none;
}

section {
  border: 1px solid red;
  width: 550px;
  height: 340px;
  margin-top: 100px;
}

article {
  padding: 0 0 0 50px;
}

h1 {
  font-family: var(--font-heading);
  font-size: 1em;
}

@import url(./root.css);