header {
  background-color: var(--primary);
}

nav {
  display: flex;
  justify-content: center;
}

ul {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0 40px 0 40px;
}

.item {
  list-style: none;
}

.item a {
  color: var(--light);
  text-decoration: none;
}

h1 {
  font-family: "Bungee";
}

@import url(./root.css);