main {
  display: flex;
  background: url("./../../assets/image/background.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-clip: border-box;
  position: relative;
  min-height: 550px;
  
  section {
    width: 550px;

    &:first-child {
      z-index: 1;
    }

    .card-history {
      padding: 0 0 0 15px;
      background-image: linear-gradient(to right, transparent 0% 10%, var(--light) 5% 100%);

      h1 {
        font-family: var(--font-heading);
        color: var(--primary-dark);
        font-size: 1.5em;
        padding-top: 5px;
        letter-spacing: 2px;
        text-align: center;
        padding: 5px 0 0 40px;
      }
      
      .texto {
        font-size: .8em;
        color: var(--dark);
        padding-bottom: 10px;
      }

      div .card-information {
        display: inline-flex;

        .rick-morty-card {
          width: 250px;
        }

        dl {
          dt{
            display: inline-block;
          }

          dd {
            display: inline;
            margin: 0;
            color: var(--gray);
          }
        }
      }
    }

    .background-main img {
      position: absolute;
      bottom: 0;
      right: 0;
      width: 250px;
      z-index: 0;
    }    
  }
}