main {
  display: flex;
  background: url("./../assets/image/background.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-clip: border-box;
}

.logo { 
  width: 32px;
  border-radius: 50%;
}

.rick-morty-card {
  width: 250px;
}
section {
  width: 500px;
  position: relative;
}

.card-one {
  color: var(--primary);
  background-image: linear-gradient(to right, transparent 0% 10%, var(--light) 5% 100%);
}

.card-one div p {
  padding: 0 0 0 50px;
}

.card-one div img {
  padding: 0 0 0 25px;
}

.card-one:last-child {
  padding: 0 0 0 50px;
}

.card-one h1 {
  padding: 0 0 0 50px;
}
.card-second img {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 250px;
}

ul.sub-title {
  display: flex;
  list-style: none;
  background-color: var(--primary);
  color: var(--light);
  padding: 0;
  margin-top: 0;
}

h1 {
  font-family: var(--font-heading);
  font-size: 1em;
}

.texto {
  font-family: var(--font-text);
  font-size: .8em; 
  margin: 0;
  line-height: 1.4em;
}

.card-information {
  display: inline-flex; 
}