body {
  height: 100vh;
  padding: 120px 100px 120px 100px;
  background: var(--primary);
  background: linear-gradient(45deg, var(--primary) 0%, var(--terciary) 66%, var(--terciary) 100%);

  > div {
    box-shadow: -4px -3px 89px 10px rgba(0,0,0,0.3);
    border-radius: 10px;
  }
}

ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 40px 0 40px;
}

.item {
  list-style: none;
}

.item a {
  color: var(--light);
  text-decoration: none;
}

.padding-main {
  padding: 0 0 0 45px;
}

p {
  margin: 0;
}

.texto {
  font-family: var(--font-text);
  font-size: .8em; 
  line-height: 1.5em;
}